@charset "utf-8";

*{
	margin:0 auto;
	padding:0;
	list-style:none;
	font-family:"맑은 고딕";
	color:#333333
}
body{
	width:1000px;
	background-color:#ffffff;
	font-size:20px;
}
a{
	text-decoration:none;
	display:block;
}

header {
	width:1000px;
    height:200px;
	position:relative;
    background-color: rgb(139, 121, 121);
}

.top {
    width: 1000px; 
    height: 100px;
    position:relative;
    background-color:#ffffff; 
}

.logo{
	float:left;
	height:100px;
	width:250px;
}

.logo img {
    margin-top:15px;
	margin-left:15px;
}
.login_before {
    float:right;
    height:100px;
    width: 400px;
}

.login_before ul {
    height: 18px;
    margin-top: 24px;
}
.login_before ul li{
    display: inline;
    line-height: 18px;
    padding: 8px 2px;
    border: 1px solid #000000;
}

.login_before ul li a {
    display: inline;
}

.bottom {
    height: 100px;
    width: 1000px;
    position: absolute;
    background-color:#ffffff; 
    z-index:1; 
}

.menu {
    float:right;
    width:800px;
    background-color:#cacaca; 
	z-index:1;
    outline: 1px solid black;
}

.navi>li{
	float:left;
	width:200px;
	background-color:#ffffff;
    z-index:1; 
    text-align:center;
}

.navi>li>a{
	line-height:40px; 
	font-size:16px;	
	font-weight:bold;
	text-align:center;
	color:#000000; 
}

.navi>li:hover{
	background-color:#ffffff;  
}

.submenu{         
	display:none;
}

.submenu>li{
	height:35px;
	width:200px;
    background-color:#c0c0c0fd;
}
.submenu>li>a{
	line-height:35px; 
	font-size:14px;	
	font-weight:bold;
	text-align:center;
}
.submenu>li:hover{ 
	background-color:#c9463d;
}



#contents {
    max-height: 1500px;
    width: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
}

#speaker {
    font-size:30px;
    position: relative;
    top: 50px;
}


.footer {
    background-color: #c5c5c5;
    width: 100%;
    height: 150px;
}

#ana {
    float: right;
}