#speaker {
    font-size:30px;
    position: relative;
    top: 50px;
}
table {
    position: relative;
    top: 50px;
}
.week {
    padding: 30px;
}

td {
    outline: 1px solid;
}

.subject {
    padding: 30px;
}