#adddata {
    position: relative;
    top:50px;
    width: 80px;
    background-color: #005aa3;
    color: #ffffff;
    border: 0;
}

table {
    position: relative;
    top: 50px;
}

th {
    margin: 3px;
    padding-right: 30px;
}

#title {
    padding-right: 150px;
}

#day {
    padding-left: 40px;
}

td {
    outline: 1px solid;
}

tr:nth-child(odd) {
    background-color: #f7f7f7;
  }
  
tr:nth-child(even) {
    background-color: #c5c5c5;
}

#ex {
    background-color: #ffffff;
}